<!DOCTYPE html>
<html lang="en">
    <head>
		<!--Template copied from github project: https://github.com/jay3dec/python-flask-app/blob/feature-post-data/templates/index.html-->
		 <!-- Required meta tags -->
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 
		 <!-- Bootstrap CSS -->
        <title>Calculate the price of your property</title>
		<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
	  <!-- Custom styles for this template -->
	  <link href="/static/css/signin.css" rel="stylesheet">
	</head>

	<body class="text-center">

		
			<div class="h3 mb-3 fw-normal"><legend><h1>Calculate the price of your property</h1></legend></div>
		

			<br>
			
				<form action="{{url_for('predict')}}"  method="post">
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="number_rooms">Number of Rooms</label>
						<div class="col-sm-8">
						<input type="number" min="0" class="form-control" name="number_rooms" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="living_area">Living Area</label>
						<div class="col-sm-8">
							<input type="number" min="0" class="form-control" name="living_area" placeholder="&nbsp;0&nbsp;">
						</div>
							
						
					</div>
					<div class="form-group row">
						<label   class="col-sm-2 col-form-label" for="surface_area">Surface Area Land</label>
						<div class="col-sm-8">
							<input type="number" min="0" class="form-control" name="surface_area" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="number_facades">Number of façades</label>
						<div class="col-sm-8">
							<input type="number" min="0" class="form-control" name="numbes_facades" placeholder="&nbsp;0&nbsp;">
						</div>
							
						
					</div>

					<!-- Yes or No for Furnished-->
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="furnisheddropdown">Furnished</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="furnisheddropdown" placeholder="Furnished?">
							<option id="furnished_yes" value="">Yes</option>
							<option selected id="furnished_no" value="">No</option>
					   </select>
					</div>
					</div>
					<!-- Yes or No for Furnished block finish...Do the same for the rest of yes/no columns and categorical values-->
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="terracedropdown">Terrace</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="terracedropdown" placeholder="terrace?">
							<option id="terrace_yes" value="">Yes</option>
							<option selected id="terrace_no" value="">No</option>
					   </select>
					</div>
					</div>
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="gardendropdown">Garden</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="gardendropdown" placeholder="garden?">
							<option id="garden_yes" value="">Yes</option>
							<option selected id="garden_no" value="">No</option>
					   </select>
					</div>
					</div>
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="fireplacedropdown">Fireplace</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="fireplacedropdown" placeholder="fireplace?">
							<option id="fireplace_yes" value="">Yes</option>
							<option selected id="fireplace_no" value="">No</option>
					   </select>
					</div>
					</div>
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="pooldropdown">Pool</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="fireplacedropdown" placeholder="pool?">
							<option id="pool_yes" value="">Yes</option>
							<option selected id="pool_no" value="">No</option>
					   </select>
					</div>
					</div>
					<!--Property type-->
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="propertydropdown">Type Property</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="propertydropdown" placeholder="property">
							<option id="property_bungalow" value="">BUNGALOW</option>
							<option id="property_chalet" value="">CHALET</option>
							<option id="property_countrycottage" value="">COUNTRY_COTTAGE</option>
							<option id="property_exceptional" value="">EXCEPTIONAL_PROPERTY</option>
							<option id="property_house" value="">HOUSE</option>
							<option id="property_manor" value="">MANOR_HOUSE</option>
							<option id="property_mansion" value="">MANSION</option>
							<option id="property_mixed" value="">MIXED_USE_BUILDING</option>
							<option id="property_other" value="">OTHER_PROPERTY</option>
							<option id="property_villa" value="">VILLA</option>
							<option id="property_townhouse" value="">TOWN_HOUSE</option>
					   </select>
					</div>
					</div>
					<!--Kitchen-->
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="kitchendropdown">Type Kitchen</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="kitchendropdown" placeholder="kitchen">
							<option id="installed" value="">INSTALLED</option>
							<option id="notinstalled" value="">NOT_INSTALLED</option>
							<option id="semi_equipped" value="">SEMI_EQUIPPED</option>
							<option id="usahyper" value="">USA_HYPER_EQUIPPED</option>
							<option id="usainstalled" value="">USA_INSTALLED</option>
							<option id="usasemi" value="">USA_SEMI_EQUIPPED</option>
							<option id="usauninstalled" value="">USA_UNINSTALLED</option>
					   </select>
					</div>
					</div>
					<!--Condition-->
					<div class="form-group row">
						<label  class="col-sm-2 col-form-label" for="conditiondropdown">Condition</label>
						<div class="col-sm-8">
						<select class="form-control"  type="text" name="conditiondropdown" placeholder="condition">
							<option id="good" value="">GOOD</option>
							<option id="justrenovated" value="">JUST_RENOVATED</option>
							<option id="tobedoneup" value="">TO_BE_DONE_UP</option>
							<option id="torenovate" value="">TO_RENOVATE</option>
							<option id="torestore" value="">TO_RESTORE</option>
					   </select>
					</div>
					</div>
					<!--Button-->
					<div class="form-group row">
				<div class="col-sm-10 text-center">
					<button class="w-100 btn btn-lg outline btn-primary  mr-2" type="submit">Submit</button>
				</div>
				</div>
				
			
        		</form>
		
				<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>