<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Calculate the price of your property</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-10"><legend><h1>Calculate the price of your property</h1></legend></div>
			<div class="col-md-10"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-10">
				<form class="form-horizontal" action="{{url_for('predict')}}"  method="post">
					<div class="form-group">
						<label class="control-label col-xs-3" for="number_rooms">Number of Rooms:</label>
						<div class="col-xs-7">
							<input type="number" min="0" class="form-control" name="number_rooms" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="living_area">Living Area:</label>
						<div class="col-xs-7">
							<input type="number" min="0" class="form-control" name="living_area" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="surface_area">Surface Area Land:</label>
						<div class="col-xs-7">
							<input type="number" min="0" class="form-control" name="surface_area" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="number_facades">Number of façades:</label>
						<div class="col-xs-7">
							<input type="number" min="0" class="form-control" name="numbes_facades" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<!-- Yes or No for Furnished-->
					<div class="form-group">
						<label class="control-label col-xs-3" for="furnisheddropdown">Furnished?:</label>
						<div class="col-xs-7">
						<select class="form-control"  type="text" name="furnisheddropdown" placeholder="Furnished?">
							<option id="furnished_yes" value="">Yes</option>
							<option selected id="furnished_no" value="">No</option>
					   </select>
					</div>
					</div>
					<!-- Yes or No for Furnished block finish...Do the same for the rest of yes/no columns and categorical values-->
				
				
				
					










				</div>
				
					<div class="form-group">
					<div class="row justify-content-center col-xs-7">
            			<div class="text-center justify-content-center">
                			<input type="submit" class="btn btn-primary" value="Submit">
            			</div>
					</div>
        			</div>
        		</form>
        	</div>
     
	</body>
</html>